header{
  padding: 32px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  .logo{
    height: 36px;
    width: auto;
  }
  .burger{
    height: 36px;
    width: auto;
  }
  nav{
    display: none;
  }
}

@media (min-width: 1100px) {
  header{
    padding: 80px;
    vertical-align: middle;
    .logo{
      height: 36px;
      width: auto;
    }
    .burger{
      display: none;
    }
    nav{
      display: block;
      width: 400px;
      padding-top: 10px;     
    }
    ul{
      display: flex;      
      justify-content: space-between;
      margin: 0;
      vertical-align: middle;      
    }
    li{
      text-decoration: none;
      color: var(--dark2);
      font-size: 20px;
      font-weight: 400;
      list-style-type: none;
      cursor: pointer;
      &:hover{
        transform: scale(1.2, 1.2);
      }
    }
    li:last-child{
      color: var(--pink);
    }
  }
}